# OS files
.DS_Store

# npm modules
/node_modules

# exclude claude
.claude

# Composer files
/kirby

# files of Composer dependencies that are not needed for the plugin
/vendor/**/.*
/vendor/**/*.json
/vendor/**/*.txt
/vendor/**/*.md
/vendor/**/*.yml
/vendor/**/*.yaml
/vendor/**/*.xml
/vendor/**/*.dist
/vendor/**/readme.php
/vendor/**/LICENSE
/vendor/**/COPYING
/vendor/**/VERSION
/vendor/**/docs/*
/vendor/**/example/*
/vendor/**/examples/*
/vendor/**/test/*
/vendor/**/tests/*
/vendor/**/php4/*
/vendor/getkirby/composer-installer

# do not include the installed.php file, as it will mix up the version display in kirby
/vendor/composer/installed.php

# phpunit dependencies that are only needed for testing
/vendor/bin/php-parse
/vendor/bin/phpunit
/vendor/bin/yaml-lint
/vendor/myclabs/deep-copy/
/vendor/nikic/php-parser/
/vendor/phar-io/manifest/
/vendor/phpunit/
/vendor/sebastian/
/vendor/theseer/

/.phpunit.result.cache

# kirby dependencies that are only needed for testing
/vendor/christian-riesen
/vendor/claviska
/vendor/composer/semver
/vendor/filp
/vendor/laminas
/vendor/league
/vendor/michelf
/vendor/phpmailer
/vendor/psr
/vendor/symfony

# other dependencies that are only needed for development
/vendor/bin/phpstan*
/vendor/bin/php-cs-fixer
/vendor/phpstan
/vendor/php-cs-fixer
/.php-cs-fixer.cache
