# OS files
.DS_Store

# npm modules
/node_modules

# Composer files
/kirby

# files of Composer dependencies that are not needed for the plugin
/vendor
!/vendor/autoload.php
!/vendor/composer
!/vendor/phpseclib
!/vendor/paragonie

/.phpunit.result.cache
